@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Bree+Serif&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brandPurple: #8000ff;
  --darkPurple: #5900b3;
  --brandOrange: #ff9100;
  --brandBlack: #181c14;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);

  font-family: 'League Spartan', sans-serif;
}
.btn {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}
.shadow {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}
.purple-gradient {
  background: radial-gradient(
    100% 100% at 100% 0,
    #efe0fd 0,
    var(--brandPurple) 100%
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.flex_between {
  @apply flex justify-between items-center;
}
.app {
  @apply max-w-[79rem];
}
