@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Bree+Serif&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brandPurple: #8000ff;
  --darkPurple: #5900b3;
  --brandOrange: #ff9100;
  --brandBlack: #181c14;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--foreground);
  background: var(--background);

  font-family: 'League Spartan', sans-serif;
}
.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  /* background-color: #8000ff; */
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0, #f8f0ff 100%);
  position: absolute;
  content: '';
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: '';
  background-image: url('/images/grid.svg');
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.btn {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}
.shadow {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}
.purple-gradient {
  background: radial-gradient(
    100% 100% at 100% 0,
    #efe0fd 0,
    var(--brandPurple) 100%
  );
}
.line::after {
  position: absolute;
  content: '';
  width: 50%;
  height: 3px;
  bottom: 0;
  background-color: var(--brandOrange);
  border-radius: 1rem;
  margin-top: 0.5rem;
  right: 0;
}
.nav_style::after {
  position: absolute;
  content: '';
  width: 60%;
  height: 3px;
  bottom: 0;
  right: 0;
  background-color: var(--brandOrange);
  border-radius: 1rem;
  transform: scaleX(0); /* Start with scale of 0 (hidden) */
  transform-origin: right; /* Animate from the right */
  transition: transform 0.3s ease; /* Smooth transition */
}
.nav_style:hover::after {
  transform: scaleX(1); /* Scale to full width when hovered */
}
.nav_shadow {
  box-shadow: 0px 0px 50px rgba(128, 0, 255, 0.8);
  background-color: #fff;
  transition: transform 0.5s ease;
  border: #fff;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.flex_between {
  @apply flex justify-between items-center;
}
.app {
  @apply max-w-[79rem];
}
.orange_gradient {
  @apply text-transparent bg-gradient-to-r from-brandPurple via-brandOrange to-brandPurple text-clip bg-clip-text;
}
.orange_reverse {
  @apply text-transparent bg-gradient-to-r from-brandOrange via-brandPurple to-brandOrange text-clip bg-clip-text;
}
@media screen and (max-width: 600px) {
  .main:before {
    background-color: #fff;
  }
}
